{
  "date": "[% date %]",
  "languageCode": "zh-cn",
  "keywords": "Haskell, HaskellChina",
  "tags": [
    [% tags %]
  ],
  "title": "[% title %]"
}

[% FOREACH p = posts %]

#### [% p.sender %] :

<span class="article-duration">[% p.msg_time %]</span> [% p.content %]

<hr style="border-top: 1px dotted grey;width:99%"/>

[% END %]


以上内容来自 [Haskell函数式编程] QQ 群。

