{
  "date": "[% date %]",
  "languageCode": "zh-cn",
  "keywords": "Haskell, HaskellChina",
  "tags": [
    [% tags %]
  ],
  "title": "[% title %]"
}

[% FOREACH p = posts %]

#### [% p.sender %] :

<code>[% p.msg_time %]</code> | [% p.content %]

[% END %]



<hr style="border-top: 1px dotted black;width:95%"/>

以上内容来自 [Haskell函数式编程] QQ 群。

